			* {padding:0; margin:0;}

			html {
				background:purple;
				padding:10px 10px 0;
				font-family:serif;
				font-size:14px;
			}

			p, h2 { 
				margin-bottom:15px;
			}

			div {
				padding:10px;
				width:500px;
				background:white;
			}

			.tabs li {
				display:inline;
				list-style:none;
			}

			.tabs a {
				border-top-left-radius: 10px 10px;
				border-top-right-radius: 10px 10px;
				padding:10px 10px;
				display:inline-block;
				background:red;
				color:white;
				text-decoration:none;
			}

			.tabs a.active {
				background:white;
				color:blue;
			}